.row
	.col-md-6
		= simple_form_for(@user, url: action_name.eql?("edit") ? user_account_url(@user) : user_accounts_url) do |f|
			= f.error_notification

			.form-inputs
				= f.input :name
				= f.input :email
				= f.input :user_type_id, collection: UserType.where('code != ?', 'SUPER-USER')
				= f.input :password
				= f.input :password_confirmation
			.form-actions
				= f.button :submit
