= render 'shared/navbar'
.container-fluid
  .row
    .col-xs-4.col-sm-3.col-md-2.sidebar
      = render 'shared/side_nav'

    .col-xs-8.col-xs-offset-4.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      .pull-right
        = link_to edit_painter_path(@painter), class: 'btn btn-success' do
          = fa_icon 'edit', text: 'Edit'
        = link_to 'Back', painters_path, class: 'btn btn-default'
      %h1.page-header 
        =  @painter.try(:name)
      .row
        .col-md-3
          %strong Name
        .col-md-9
          = @painter.try(:name)
      %br
      .row
        .col-md-3
          %strong Basic pay
        .col-md-9
          = @painter.try(:basic_pay)
      %br
      .row
        .col-md-3
          %strong Daily wage
        .col-md-9
          = @painter.try(:daily_wage)
      %br
      .row
        .col-md-3
          %strong Daily allowance
        .col-md-9
          = @painter.try(:daily_allowance)
      %br
      .row
        .col-md-3
          %strong Employment type
        .col-md-9
          = @painter.try(:employment_type).try(:name)
      %br    
      %h2.sub-header Contact Details
      .row
        .col-md-3
          %strong Telephone #1
        .col-md-9
          = @painter.try(:painter_contact).try(:telephone_one)
      %br
      .row
        .col-md-3
          %strong Telephone #2
        .col-md-9
          = @painter.try(:painter_contact).try(:telephone_two)
      %br
      .row
        .col-md-3
          %strong Telephone #3
        .col-md-9
          = @painter.try(:painter_contact).try(:telephone_three)
      %br
      .row
        .col-md-3
          %strong Address
        .col-md-9
          = @painter.try(:painter_contact).try(:address)
      %br
      %h2.sub-header Next of Kin
      .row
        .col-md-3
          %strong Name
        .col-md-9
          = @painter.try(:next_of_kin).try(:name)
      %br
      .row
        .col-md-3
          %strong Relation
        .col-md-9
          = @painter.try(:next_of_kin).try(:relation)
      %br
      .row
        .col-md-3
          %strong Telephone No
        .col-md-9
          = @painter.try(:next_of_kin).try(:telephone)