%h1 Listing track_painter_items

%table.table
  %thead
    %tr
      %th Site
      %th Date attended
      %th Daily wage
      %th Track painter
      %th Daily allowance
      %th
      %th
      %th

  %tbody
    - @track_painter_items.each do |track_painter_item|
      %tr
        %td= track_painter_item.try(:site).try(:name)
        %td= track_painter_item.try(:date_attended)
        %td= track_painter_item.try(:daily_wage)
        %td= track_painter_item.try(:track_painter).try(:painter).try(:name)
        %td= track_painter_item.try(:daily_allowance)
        %td= link_to 'Show', track_painter_item
        %td= link_to 'Edit', edit_track_painter_item_path(track_painter_item)
        %td= link_to 'Destroy', track_painter_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Track painter item', new_track_painter_item_path
