.row
	.col-md-6
		= simple_form_for(@invoice) do |f|
			= f.error_notification

			.form-inputs
				= f.input :invoice_date, :as => :date_picker
				= f.input :note
				= f.input :amount
				= f.input :sub_total, disabled: true
				= f.input :value_added_tax
				= f.input :total, disabled: true
				= f.association :site, collection: Site.all, include_blank: true, input_html: { class: 'chosen-select', id: "painterSkills" }

			.form-actions
				= f.button :submit
