= render 'shared/navbar'
.container-fluid
	.row
		.col-xs-4.col-sm-3.col-md-2.sidebar
			= render 'shared/side_nav'

		.col-xs-8.col-xs-offset-4.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			= link_to "Export to PDF", monthly_wages_path(start_date: @start_date, format: :pdf), class: "btn btn-info pull-right"
			%h1.page-header Monthly Wages
			.row
				.col-md-2
					= render 'wages/painters'
				.col-md-10
					= calendar do |date|
						= date



