= render 'shared/navbar'
.container-fluid
	.row
		.col-xs-4.col-sm-3.col-md-2.sidebar
			= render 'shared/side_nav'

		.col-xs-8.col-xs-offset-4.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			= link_to "Export to PDF", weekly_wages_url({format: "pdf", start_date: @start_date}), class: "btn btn-info pull-right"
			%h1.page-header Weekly Wages
			= week_calendar do |date|
				= date

			%h2.sub-header Site Totals
			.table-responsive
				%table.table.table-striped
					%thead
						%tr
							%th Site
							%th Sum
					%tbody
						- site_total = 0.0
						- @sites_attended.each do |s|
							- total = 0.0
							%tr
								%td= s[0]
								%td.sum
									- s[1].each_with_index do |t, index|
										- if t.nil? || t.track_painter.nil? || t.track_painter.weekly_total.nil?
											- weekly_total = 0.0
											- total += weekly_total
										- else
											- total += t.try(:track_painter).try(:weekly_total)
										- site_total += total
										- if index.eql?(s[1].length - 1)
											= total
						%tr
							%td Other*
							%td.other
								- other = (@temp_track_painters.sum(:weekly_total) - site_total)
								= other > 0 ? other : 0.0
						%tr
							%td{ :style => "text-align: right"}
								%strong Total:
							%td.site_totals
								= (site_total + other)
