%p#notice= notice

%p
  %b Date:
  = @deduction.date
%p
  %b Reason:
  = @deduction.reason
%p
  %b Amount:
  = @deduction.amount

= link_to 'Edit', edit_painter_deduction_path(@painter, @deduction)
\|
= link_to 'Back', painter_deductions_path(@painter)
