- if current_user.has_role?(:super)
        	
	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('dashbaord')}".html_safe }
			= link_to root_path do
				= fa_icon 'home', text: 'Dashboard'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && request.params[:action].eql?('weekly')}" }
			= link_to weekly_wages_path do
				= fa_icon 'circle-o', text: 'Weekly P. Wages'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && (request.params[:action].eql?('monthly') || 		request.params[:action].eql?('painter_monthly'))}" }
			= link_to monthly_wages_path do
				= fa_icon 'circle-o', text: 'Monthly P. Wages'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && (request.params[:action].eql?('permanent') || 	request.params[:action].eql?('painter_permanent'))}" }
			= link_to permanent_wages_path do
				= fa_icon 'circle-o', text: 'Permanent P. Wages'
		%li
			= link_to planning_wages_path do
				= fa_icon 'circle-o', text: 'Weekly planning'

	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('deductions')}" }
			= link_to deductions_path do
				= fa_icon 'circle-o', text: 'Deductions (IOU)'
		%li{ :class => "#{'active' if request.params[:controller].eql?('bonus')}" }
			= link_to bonus_path do
				= fa_icon 'circle-o', text: 'Bonus'
		%li{ :class => "#{'active' if request.params[:controller].eql?('payments')}" }
			= link_to payments_path do
				= fa_icon 'circle-o', text: 'Payments'
		%li{ :class => "#{'active' if request.params[:controller].eql?('petty_cashes')}" }
			= link_to petty_cashes_path do
				= fa_icon 'circle-o', text: 'Petty Cash'
		%li{ :class => "#{'active' if request.params[:controller].eql?('invoices')}" }
			= link_to invoices_path do
				= fa_icon 'circle-o', text: 'Invoices'

	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('painters')}" }
			= link_to painters_path do
				= fa_icon 'circle-o', text: 'Painters'
		%li{ :class => "#{'active' if request.params[:controller].eql?('sites')}" }
			= link_to sites_path do
				= fa_icon 'circle-o', text: 'Sites'
		%li{ :class => "#{'active' if request.params[:controller].eql?('materials')}" }
			= link_to materials_path do
				= fa_icon 'circle-o', text: 'Materials'
		%li{ :class => "#{'active' if request.params[:controller].eql?('paints')}" }
			= link_to paints_path do
				= fa_icon 'circle-o', text: 'Paints'
		%li{ :class => "#{'active' if request.params[:controller].eql?('skills')}" }
			= link_to skills_path do
				= fa_icon 'circle-o', text: 'Skills'
		%li{ :class => "#{'active' if request.params[:controller].eql?('holidays')}" }
			= link_to holidays_path do 
				= fa_icon 'circle-o', text: 'Holidays'

-elsif current_user.has_role?(:administrator)
        	
	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('dashbaord')}".html_safe }
			= link_to root_path do
				= fa_icon 'home', text: 'Dashboard'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && request.params[:action].eql?('weekly')}" }
			= link_to weekly_wages_path do
				= fa_icon 'circle-o', text: 'Weekly P. Wages'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && (request.params[:action].eql?('monthly') || 		request.params[:action].eql?('painter_monthly'))}" }
			= link_to monthly_wages_path do
				= fa_icon 'circle-o', text: 'Monthly P. Wages'
		%li{ :class => "#{'active' if request.params[:controller].eql?('wages') && (request.params[:action].eql?('permanent') || 	request.params[:action].eql?('painter_permanent'))}" }
			= link_to permanent_wages_path do
				= fa_icon 'circle-o', text: 'Permanent P. Wages'
		%li
			= link_to planning_wages_path do
				= fa_icon 'circle-o', text: 'Weekly planning'

	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('deductions')}" }
			= link_to deductions_path do
				= fa_icon 'circle-o', text: 'Deductions (IOU)'
		%li{ :class => "#{'active' if request.params[:controller].eql?('bonus')}" }
			= link_to bonus_path do
				= fa_icon 'circle-o', text: 'Bonus'
		%li{ :class => "#{'active' if request.params[:controller].eql?('payments')}" }
			= link_to payments_path do
				= fa_icon 'circle-o', text: 'Payments'
		%li{ :class => "#{'active' if request.params[:controller].eql?('petty_cashes')}" }
			= link_to petty_cashes_path do
				= fa_icon 'circle-o', text: 'Petty Cash'
		%li{ :class => "#{'active' if request.params[:controller].eql?('invoices')}" }
			= link_to invoices_path do
				= fa_icon 'circle-o', text: 'Invoices'

	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('painters')}" }
			= link_to painters_path do
				= fa_icon 'circle-o', text: 'Painters'
		%li{ :class => "#{'active' if request.params[:controller].eql?('sites')}" }
			= link_to sites_path do
				= fa_icon 'circle-o', text: 'Sites'
		%li{ :class => "#{'active' if request.params[:controller].eql?('materials')}" }
			= link_to materials_path do
				= fa_icon 'circle-o', text: 'Materials'
		%li{ :class => "#{'active' if request.params[:controller].eql?('paints')}" }
			= link_to paints_path do
				= fa_icon 'circle-o', text: 'Paints'

-elsif current_user.has_role?(:staff)
        	
	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('dashbaord')}".html_safe }
			= link_to root_path do
				= fa_icon 'home', text: 'Dashboard'
		%li
			= link_to weekly_wages_path do
				= fa_icon 'circle-o', text: 'Weekly wages'
		%li
			= link_to monthly_wages_path do
				= fa_icon 'circle-o', text: 'Monthly wages'
		%li
			= link_to permanent_wages_path do
				= fa_icon 'circle-o', text: 'Permanent wages'
		%li
			= link_to planning_wages_path do
				= fa_icon 'circle-o', text: 'Weekly planning'

	%ul.nav.nav-sidebar

	%ul.nav.nav-sidebar
		%li{ :class => "#{'active' if request.params[:controller].eql?('painters')}" }
			= link_to painters_path do
				= fa_icon 'circle-o', text: 'Painters'
		%li{ :class => "#{'active' if request.params[:controller].eql?('sites')}" }
			= link_to urgent_sites_path do
				= fa_icon 'circle-o', text: 'Sites'



