%ul.nav.nav-sidebar
	%li= link_to 'Dashbord', root_path
	%li= link_to 'Weekly Wages', weekly_wages_path
	%li= link_to 'Monthly Wages', monthly_wages_path
%ul.nav.nav-sidebar
	%li= link_to 'Painters', painters_path
	%li= link_to 'Sites', 	 sites_path