= render 'shared/navbar'
.container-fluid
	.row
		.col-xs-4.col-sm-3.col-md-2.sidebar
			= render 'shared/side_nav'
		.col-xs-8.col-xs-offset-4.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.pull-right
				= link_to "Back", statements_path, class: "btn btn-default btn-sm"
			%h3.page-header STATEMENT
			%h4 
				%strong Details 
			.row	
				.col-md-4
					.row
						.col-md-6 
							Site Name:
						.col-md-6
							= @site.name
					.row
						.col-md-6
							Client Name:
						.col-md-6
							= @site.client
					.row
						.col-md-6
							SQM INT:	
						.col-md-6
							= @site.site_square_metre.internal
					.row
						.col-md-6
							SQM EXT:
						.col-md-6
							= @site.site_square_metre.external	
	
				.col-md-4
					.row
						.col-md-6
							Site Head:
						.col-md-6
							= @site.head
					.row
						.col-md-6
							Address:
						.col-md-6
							= @site.address
					.row
						.col-md-6
							Rate INT:	
						.col-md-6
							= @site.site_rate.internal
					.row
						.col-md-6
							Rate EXT:
						.col-md-6
							= @site.site_rate.external	
				.col-md-4
					.row
						.col-md-6
							City:
						.col-md-6
							= @site.city
					.row
						.col-md-6
							Mobile:
						.col-md-6
							= @site.mobile
					.row
						.col-md-6
							Agreed INT:	
						.col-md-6
							= @site.site_agreed_amount.internal
					.row
						.col-md-6
							Agreed EXT:
						.col-md-6
							= @site.site_agreed_amount.external	
			.row	
				.col-md-3
					Notes:
				.col-md-9
					= @site.notes

			%hr
		
			.row	
				.col-md-3
					%h4 
						%strong Paints
					- paint_grand_total = 0
					%table.table.table-striped
						%thead
							%th
							%th{:style => "text-align: right" } Initial Cost
							%th{:style => "text-align: right" } Cost
						%tbody
							- @paints.each do |p|
								%tr
									%td
										#{p.month}, #{p.year}
									%td{:style => "text-align: right" }
										= @site.try(:initial_paint_amount)
									%td{:style => "text-align: right" }
										= p.amount		
										- paint_grand_total+= p.amount						
									
							.tr
								%td{ :colspan => "3", :style => "text-align: right" }
									= paint_grand_total
				.col-md-3
					%h4 
						%strong Labour
					- labour_grand_total = 0
					%table.table.table-striped
						%thead
							%th
							%th{:style => "text-align: right" } Initial Cost
							%th{:style => "text-align: right" } Cost
						%tbody
							- @labours.each do |l|
								%tr
									%td
										= l[0]
									%td{:style => "text-align: right" }
										= @site.try(:initial_labour_amount)
									%td{:style => "text-align: right" }
										- labour_total = 0
										- l[1].map { |w| labour_total+=(w.daily_wage + w.daily_allowance)}
										- labour_grand_total+= labour_total					
										= labour_total
							%tr
								%td{ :colspan => "3", :style => "text-align: right" }
									= labour_grand_total
				.col-md-6
					%h4 
						%strong Materials
					- material_grand_total = 0
					%table.table.table-striped
						%thead
							%th
							%th Reason
							%th{:style => "text-align: right" } Initial Cost
							%th{:style => "text-align: right" } Cost
						%tbody
							- @materials.each do |m|
								%tr
									%td
										= m.date
									%td
										= m.reason
									%td{:style => "text-align: right" }
										= @site.try(:initial_material_amount)
									%td{:style => "text-align: right" }
										- material_grand_total+= m.total_spent						
										= m.total_spent
							%tr
								%td{ :colspan => "4", :style => "text-align: right" }
									= material_grand_total
			%hr

			%h4 
				%strong Painters 
			.row
				.col-md-12
					- @painters.each_with_index do |p, index|
						= "#{p.name} - #{attendance(p, @site)}#{index.eql?(@painters.size - 1) ? '' : ','}"	
			%hr
			.row
				.col-md-6
					%h4 
						%strong Invoices
					- invoice_total = 0
					%table.table.table-striped
						%thead
							%th Date
							%th Invoice No.
							%th{ :style => "text-align: right" }	 Amount
						%tbody
							- @invoices.each do |i|
								%tr
									- invoice_total += i.amount
									%td
										= i.invoice_date
									%td
										= i.invoice_number
									%td{ :style => "text-align: right" }
										= i.amount
							%tr
								%td{ :colspan => "2", :style => "text-align: right" }
									%strong Grand Total
								%td{ :style => "text-align: right" }
									= invoice_total
				.col-md-6
					%h4 
						%strong Payments
					- payment_total = 0
					%table.table.table-striped
						%thead
							%th Date
							%th Reference
							%th{ :style => "text-align: right" }	 Amount
						%tbody
							- @payments.each do |p|
								%tr
									- payment_total += p.amount
									%td
										= p.payment_date
									%td
										= p.reference
									%td{ :style => "text-align: right" }	
										= p.amount 
							%tr
								%td{ :colspan => "2", :style => "text-align: right" }
									%strong Grand Total
								%td{ :style => "text-align: right" }
									= payment_total
