.row
	.col-md-6
		= simple_form_for(@petty_cash) do |f|
			= f.error_notification

			.form-inputs
				= f.input :source
				= f.input :amount
				= f.input :date_paid, :as => :date_picker

			.form-actions
				= f.button :submit
