%tbody
	- collection.each_slice(7) do |week|
		- @painters.each do |painter|
			%tr
				%td= painter.name
				%td= painter.daily_wage
				- week.each do |day|
					= content_tag :td, class: locals[:calendar].td_classes_for(day) do
						- TrackPainter.find_by(week_number: locals[:start_date].strftime("%U").to_i, painter_id: painter.id).try(:track_painter_items).try(:each) do |tp|
							- if day.eql?(tp.date_attended)
								= tp.try(:site).try(:name)
				%td 
					= painter.track_painters.find_by(week_number: locals[:start_date].strftime("%U").to_i).try(:weekly_total)
		%tr
			%td{ :colspan => "9", :style => "text-align: right"}
				%strong Total:
			%td
				= @track_painters.sum(:weekly_total) 
