%tbody
	- collection.each_slice(7) do |week|
		- @painters.each do |painter|
			%tr
				%td= painter.name
				%td= painter.daily_allowance
				- week.each do |day|
					= content_tag :td, class: locals[:calendar].td_classes_for(day) do
						- TrackPainter.find_by(week_number: locals[:start_date].strftime("%U").to_i, painter_id: painter.id).try(:track_painter_items).try(:each) do |tp|
							- if day.eql?(tp.date_attended)
								= tp.try(:site).try(:name)
				%td{ :style => "text-align: right" }
					= TrackPainter.find_by(week_number: locals[:start_date].strftime("%U").to_i, painter_id: painter.id).try(:weekly_total)
					= TrackPainter.where(week_number: locals[:start_date].strftime("%U").to_i, painter_id: painter.id).count
