<div class="simple-calendar">
  <div class="text-center">
    <nav>
      <ul class="pager">
      <% if params[:query] %>
        <li class="previous"><%= link_to("Previous", {start_date: date_range.first - 1.day, query: params[:query]})  %></li>
        <li>Week <%= start_date.strftime("%U").to_i %></li>
        <li class="next"><%= link_to("Next", {start_date: date_range.last + 1.day, query: params[:query]})  %></li>
      <% else %>
        <li class="previous"><%= link_to "Previous", start_date: date_range.first - 1.day  %></li>
        <li>Week <%= start_date.strftime("%U").to_i %></li>
        <li class="next"><%= link_to "Next", start_date: date_range.last + 1.day  %></li>
      <% end%>
      </ul>
    </nav>
    
  </div>
  
  
  
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %>, <%= day.strftime("%d")%></th>
        <% end %>
        <% if request.params[:controller].eql?('dashbaord') %>
          <th>Notes</th>
        <% end -%>
        <% if request.params[:controller].eql?('wages') %>
          <th>Weekly Total</th>
        <% end -%>
        <% if request.params[:controller].eql?('dashbaord') %>
          <th></th>
        <% end -%>
      </tr>
    </thead>

    <% if request.params[:controller].eql?('dashbaord') %>
      <%= render 'simple_calendar/dashboard', collection: date_range , locals: { calendar: calendar, start_date: start_date } %>
    <% end %>

    <% if request.params[:controller].eql?('wages') %>
      <%= render 'simple_calendar/weekly_wages', collection: date_range , locals: { calendar: calendar, start_date: start_date } %>
    <% end %>
  </table>
</div>
