= simple_form_for(@invoice_number) do |f|
  = f.error_notification

  .form-inputs
    = f.input :invoice_date
    = f.input :sub_total
    = f.input :value_added_tax
    = f.input :total
    = f.association :site

  .form-actions
    = f.button :submit
