%h1 Listing invoice_numbers

%table
  %thead
    %tr
      %th Invoice date
      %th Sub total
      %th Value added tax
      %th Total
      %th Site
      %th
      %th
      %th

  %tbody
    - @invoice_numbers.each do |invoice_number|
      %tr
        %td= invoice_number.invoice_date
        %td= invoice_number.sub_total
        %td= invoice_number.value_added_tax
        %td= invoice_number.total
        %td= invoice_number.site
        %td= link_to 'Show', invoice_number
        %td= link_to 'Edit', edit_invoice_number_path(invoice_number)
        %td= link_to 'Destroy', invoice_number, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Invoice number', new_invoice_number_path
