%p#notice= notice

%p
  %b Invoice date:
  = @invoice_number.invoice_date
%p
  %b Sub total:
  = @invoice_number.sub_total
%p
  %b Value added tax:
  = @invoice_number.value_added_tax
%p
  %b Total:
  = @invoice_number.total
%p
  %b Site:
  = @invoice_number.site

= link_to 'Edit', edit_invoice_number_path(@invoice_number)
\|
= link_to 'Back', invoice_numbers_path
