= render 'shared/navbar'
.container-fluid
  .row
    .col-xs-4.col-sm-3.col-md-2.sidebar
      = render 'shared/side_nav'

    .col-xs-8.col-xs-offset-4.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      .pull-right
        = link_to edit_material_path(@material), class: 'btn btn-success' do
          = fa_icon 'edit', text: 'Edit'
        = link_to 'Back', materials_path, class: 'btn btn-default'
      
      .row
        .col-md-3
          %strong Site
        .col-md-9
          = @material.try(:site).try(:name)
      .row
        .col-md-3
          %strong Date
        .col-md-9
          = @material.date
      .row
        .col-md-3
          %strong Reason
        .col-md-9
          = @material.reason