= render 'shared/navbar'
.container-fluid
	.row
		.col-sm-3.col-md-2.sidebar
			= render 'shared/side_nav'

		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.pull-right
				= link_to 'Show', @site
				= link_to 'Back', sites_path, class: 'btn btn-default'
			%h1.page-header Editing site
			= render 'form'