= render 'shared/navbar'
.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      = render 'shared/side_nav'

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      .pull-right
        = link_to new_site_path, class: 'btn btn-info' do
          = fa_icon "plus", text: "New Site"
      %h1.page-header Sites
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Head
              %th Address
              %th Notes
              %th Total Spent
              %th Additional COsts
              %th
              %th
              %th

          %tbody
            - @sites.each do |site|
              %tr
                %td= site.name
                %td= site.head
                %td= site.address
                %td= site.notes
                %td= TrackPainterItem.where(site_id: site.id).sum(:daily_wage) + site.start_amount
                %td= site.additional_costs
                %td= link_to 'Show', site
                %td= link_to 'Edit', edit_site_path(site)
                %td= link_to 'Destroy', site, :method => :delete, :data => { :confirm => 'Are you sure?' }

